<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Makanan</title>
</head>
<body>
    <div id="menuList">
        <% data.forEach(function(res) { %>
            <h1>Data </h1>
            <%= res.no %>
          <% }) %>
    </div>

    <script>
       </script>
</body>
</html>
